<% if product.images.size > 1 || show_variant_images? %>
  <ul id="product-thumbnails" class="thumbnails">
    <% product.images.each do |i| %>
      <li><%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %></li>
    <% end %>
  </ul>
<% end %>

<% if show_variant_images? %>
  <h4 id="variant-images">
    <%= t('images_for') %>:
    <span><%= @selected_variant.options_text %></span>
  </h4>
  <ul id="variant-thumbnails" class="thumbnails">
    <% @selected_variant.images.each do |i| %>
      <li><%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    var images = new Array();
    <% @variants.each do |v| %>
      images[<%= v.id.to_s %>] = new Array();
      <% v.images.each_with_index do |image, i| %>
        images[<%= v.id.to_s %>][<%= i %>] = <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)).to_json %>;
      <% end %>
    <% end %>
  </script>
<% end %>

<% if ajax ||= 'false' %>
<script type="text/javascript" charset="utf-8">
  add_image_handlers();
</script>
<% end %>
